# Ignore artifacts:
build
coverage

# Ignore folders
.next
.vercel
.node_modules
.vscode
.github
public
.idea
.env*
.gitignore
yarn.lock

# Ignore all HTML files:
*.html

## file extensions
!*.scss
.prettierignore

# Additional
**/.git
**/.svn
**/.hg
**/node_modules